@import '../styles/components';

.banner {
  position: relative;
  height: 80vh;
  width: 100%;
  object-fit: contain;

  &__content {
    position: absolute;
    margin-left: 3.75rem;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    max-width: 30rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }

  &__category {
    display: flex;
    align-items: center;

    & span {
      font-size: 2rem;
    }
  }

  &__seriesData {
    h1 {
      font-size: 3.75rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    p {
      font-weight: 300;
      line-height: 1.4;
      margin: 1.25rem 0;
    }
  }

  &__btnContainer {
    display: flex;
    align-items: center;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.4rem;
  // background-color: crimson;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    $bg-gray
  );
}

.info {
  background-color: transparent;
  filter: invert(100%);
}
