@import 'variables';

.btnRed {
  background-color: $red-primary;
  padding: 0.75rem 1.5rem;
  border-radius: $border-radius;
}

.btnWhite {
  background-color: $gray-light;
  padding: 0.6rem 1.25rem;
  color: black;
  font-weight: normal;
  margin-right: 1rem;
  font-size: 1.25rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.btnGray {
  background-color: $gray-dark;
  padding: 0.6rem 1.25rem;
  color: white;
  font-weight: normal;
  font-size: 1.25rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
