$bg-black: #000;
$bg-gray: #141414;
$gray-light: #bfbfbf;
$gray-dark: #302e2e;
$red-primary: #e50a13;

$border-radius: 6px;

$shadow-100: rgba(0, 0, 0, 0.3);
$shadow-200: rgba(158, 155, 155, 1);
$shadow-300: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
