@import 'components';
@import 'typography';

.container {
  position: relative;
  min-height: 100vh;
  background-color: $bg-black;
  // width: 100%;

  header {
    margin: 0 3.5rem;
    height: 6.25rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  .hero {
    width: 100%;
    height: 40rem;
    position: relative;
  }

  .heroBackground {
    background-image: url('/static/signin-bg.jpg');
    position: absolute;
    top: -6.25rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .h1 {
    margin-bottom: 2rem;
  }

  .h2 {
    font-size: 1.625rem;
    font-weight: 300;
  }

  .formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    margin-top: 2rem;

    input {
      padding: 0.75rem 1.5rem;
      border: none;
      width: 20rem;
      border-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .formInput {
      display: flex;
    }

    .errorMsg {
      color: $red-primary;
      display: block;
      width: 30rem;
      text-align: start;
      padding-left: 1rem;
      margin-top: 0.25rem;
    }

    h3 {
      font-weight: normal;
      margin-bottom: 1rem;
    }

    .signupBtn {
      display: flex;
      color: white;
      font-weight: 300;
      align-items: center;
      background-color: $red-primary;
      padding: 0.75rem 1.5rem;
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
